* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: #9e007c;
}

header h1 {
  margin: 0;
  color:white;
  font-size: 1.5rem;
}

header button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #7322f6;
  border: 1px solid #7322f6;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}
.modal-table{
  border-collapse: collapse ;
  margin: 30px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.modal-table thead tr{
  background-color:#9e007c ;
  color:white ;
  text-align:left ;
  font-weight: bold;
}

.modal-table th,
.row-j td
{
  padding: 12px 15px;
}

.row-j{
  border-bottom: 1px solid #dddddd;
}
.row-j td{
  border-bottom: 2px solid #dddddd;
}

.row-j:nth-of-type(odd){
  background-color: #f3f3f3bd;

}

 .row-j:nth-last-child(-n +3){
  border-bottom: 15px solid #9e007c;
}

header button:hover,
header button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}


.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}
input {
  

  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

input:focus {
  outline: none;
  background: #fff1c4;
}

.btn:hover,
.btn:active {
  background: #f67722;
  border-color: #f67722;
}


@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}